@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


.react-datepicker  {
  font-family: 'Inter', sans-serif;
  border-radius: 12px;
  border: none !important;
  box-shadow: 0px 6px 12px 0px #5C738314;
  border-radius: 12px !important;
    padding: 33.7px !important;

}

.react-datepicker__header {
  background-color: #fff !important;
  border: none !important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__year-text--today, .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
  background-color: #000 !important;
  color: white !important;
  border-radius: 100% !important;
}



.react-datepicker__month-container {
width: 100% !important;
}
.react-datepicker__navigation{
  top: 33px !important;
}
.react-datepicker__navigation--previous{
  left: 33px !important;
}
.react-datepicker__navigation--next{
  right: 33px !important;
}
